@use 'variables' as *;

footer {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    h3 {
        color: $light;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    ul {
        padding-bottom: 1rem;

        li {
            list-style: none;
            padding: 0.25rem 0;

            a {
                text-decoration: none;
                color: $soft;
            }
        }
    }

    .ft_logo {
        background-image: url('../img/dc-logo-bg.png');
        background-repeat: no-repeat;
        background-position: center;
    }


    .call_to_action {
        background-color: $dark;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $light;
            border: 2px solid $secondary;
            padding: 0.5rem;
        }

        h3 {
            color: $secondary;
        }

        .sign_up {
            display: flex;
        }

        .social {
            display: flex;
            justify-content: end;
            align-items: center;

            h3 {
                margin: 0 1rem;
            }

            img {
                margin: 0 0.5rem;
            }
        }
    }
}