@use 'variables' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 1rem 0;

    .navbar {

        a {
            display: inline-block;
            text-decoration: none;
            color: $soft_dark;
            text-transform: uppercase;
            font-weight: bold;
            padding: 1rem;

            &.active {
                color: $secondary;
                border-bottom: 4px solid $secondary;
                padding-bottom: 57px;
                margin-bottom: -57px;
            }

            &:hover {
                background-color: #79797976;
            }
        }

    }
}